<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- Indlæser NLog udvidelser til ASP.NET Core, generel logging og Loki integration -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Extensions.Logging"/>
    <add assembly="NLog.Loki"/>
  </extensions>

  <targets>
    <!-- Konsol target: viser logs direkte i terminalen under udvikling -->
    <target name="logconsole" xsi:type="Console">
      <!-- Format: tidspunkt|niveau|kilde|besked -->
      <layout>${longdate}|${level:uppercase=true}|${logger}|${message} ${exception}</layout>
    </target>

    <!-- Fil target: gemmer logs som JSON til lokal fil til senere analyse -->
    <target name="logfile" xsi:type="File" fileName="userservice-log.json">
      <layout xsi:type="JsonLayout" includeEventProperties="true">
        <attribute name="time" layout="${longdate}" />
        <attribute name="level" layout="${level:upperCase=true}"/>
        <attribute name="message" layout="${message}"/>
      </layout>
    </target>

    <!-- Loki target: sender logs til centraliseret Loki-server via HTTP -->
    <!-- batchSize: antal logs der sendes ad gangen -->
    <!-- taskDelayMilliseconds: hvor ofte logs sendes (ms) -->
    <!-- endpoint: adressen på Loki-serveren -->
    <target name="loki" xsi:type="loki"
            batchSize="200"
            taskDelayMilliseconds="500"
            endpoint="http://localhost:3100"
            orderWrites="true"
            compressionLevel="noCompression"
            layout="${level}|${message}${onexception:|${exception:format=type,message}}|source=${logger}">
      <!-- Labels bruges til filtrering i Grafana -->
      <label name="app" layout="UserService" />
      <label name="server" layout="${hostname:lowercase=true}" />
    </target>
  </targets>

  <rules>
    <!-- Debug og opefter logges til fil -->
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <!-- Info og opefter logges til konsol -->
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <!-- Info og opefter sendes til Loki -->
	<logger name="*" minlevel="Debug" writeTo="loki"/>
  </rules>

</nlog>