@inherits LayoutComponentBase
@inject CurrentUserService CurrentUser
@inject NavigationManager Nav

@if (CurrentUser.isAuthorized && CurrentUser.CurrentUserRole?.Equals("member", StringComparison.OrdinalIgnoreCase) == true)
{
    @Body
}
else
{
    <p>"Error - try reloading page"</p>
}

@code {

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && (!CurrentUser.isAuthorized || CurrentUser.CurrentUserRole?.Equals("member", StringComparison.OrdinalIgnoreCase) != true))
        {
            Nav.NavigateTo("/");
        }
    }
}