<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FitLife</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                Login
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="register-step1">
                Bliv medlem
            </NavLink>
        </div>

        <hr />

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="member-dashboard">
                Medlem dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="find-hold">
                Find hold
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="personal-training">
                Personlig træning
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="digital-training">
                Digital træning
            </NavLink>
        </div>

        <hr />

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employee-dashboard">
                Ansat dashboard
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manage-sessions">
                Administrer hold
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="manage-members">
                Administrer medlemmer
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-session">
                Opret hold
            </NavLink>
        </div>

    </nav>
</div>