<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 py-3">

    <a class="navbar-brand fw-bold fs-3 text-white"
       href="/employee-dashboard">
        FitLife Admin
    </a>

    <div class="ms-auto d-flex align-items-center gap-3">

        <a class="nav-link text-white"
           href="/employee-dashboard">
            Forside
        </a>

        <a class="nav-link text-white"
           href="/manage-sessions">
            Administrer hold
        </a>

        <a class="nav-link text-white"
           href="/manage-members">
            Administrer medlemmer
        </a>

        <a class="nav-link text-white"
           href="/personal-training">
            Personlig træning
        </a>

        <span class="fw-bold text-white ms-3">
            NAVN NAVNESEN
        </span>

    </div>

</nav>