@using FitLife.Frontend.Services
@inject CurrentUserService CurrentUserService

<nav class="navbar navbar-expand-lg navbar-brand bg-light px-5 py-3">

    <a class="navbar-brand fw-bold fs-3 text-black"
       href="/employee-dashboard">
        FitLife Admin
    </a>

    <div class="ms-auto d-flex align-items-center gap-3">

        <a class="nav-link"
           href="/employee-dashboard">
            Forside
        </a>

        <a class="nav-link"
           href="/manage-sessions">
            Administrer hold
        </a>

        <a class="nav-link"
           href="/manage-members">
            Administrer medlemmer
        </a>
        <a class="nav-link" href="/administrer-centre">
            Administrer centre
        </a>
        
        <a class="nav-link"
           href="/manage-personal-training">
            Administrer personlig træning
        </a>

        <a class="nav-link"
           href="/inbox">
            Beskeder
        </a>

        <span class="fw-bold ms-3">
            @CurrentUserService.DisplayName
        </span>
        <a class="btn btn-outline-danger"
           href="/">
            Log ud
        </a>
    </div>

</nav>
